@font-face {
  font-family: Comic Mono NF;
  font-weight: normal;
  src: url(./ComicMonoNF.ttf);
}

@font-face {
  font-family: Comic Mono NF;
  font-weight: bold;
  src: url(./ComicMono-Bold.ttf);
}
